@import "norm.css";

.App {
  background-color: #000;
  background-image:
    repeating-radial-gradient(
      ellipse at top,
      hsla(70, 100%, 30%, 1) 1%,
      hsla(230, 100%, 50%, 0.25) 60%,
      hsla(300, 100%, 50%, 0.25) 70%,
      hsla(160, 100%, 50%, 0.25) 80%
    );
  color: white;
}

.Logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.Header {
  min-height: 1vmin;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: calc(2rem + 2vmin);
}

.Link {
  color: #61dafb;
}

.Button {
  color: black;
  background-image: radial-gradient(ellipse at bottom, #00fff7, #fff700);
  padding: 1vmin;
}

.Label {
  border-style: groove;
  border-color: hsla(360, 100%, 70%, 1);
  border-radius: 10%;
}

.Input {
  border-color: white;
  border-style: groove;
  border-width: thick;
  color: black;
  width: 33%;
  background-image: radial-gradient(ellipse at center, #fff, #00f780, white);
  margin: 2vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
